[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipdb = "*"
sqlalchemy = "*"
alembic = "*"
faker = "*"
fantasynames = "*"
click = "*"
colour = "*"
keyboard = "*"
simple-term-menu = "*"
prettycli = "*"
art = "==6.0"
requests = "*"
alive-progress = "*"

[dev-packages]

[requires]
python_version = "3.8"
